*{
  padding:0;
    margin:0;

}
body{
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(assets/backgroundLinks.jpg);
}

.banner-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;
}
.video-background {
  position: fixed; /* Sit on top of the page content */
   /* Hidden by default */
  width:100%; /* Full width (cover the whole page) */
  height: 30%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black; /* Black background with opacity */
}


h1{
  color: blue;
  
}
.siteBox{

  width: 350px;
  height: 200px;
  border: solid;
  border-block-width: 5;
  margin: 70px;
  margin-left: 80px;
  border-color:black;

}
li{
  text-decoration: none;
  text-align: center;


}
